body {
  font-family: "Open Sans", serif;
  background-color: #222;
  color: #000000;
  overflow-x: hidden;
}

a {
  color: inherit;
}

.full-width-bar {
  text-align: center;
  margin: 0 -9999rem;
  padding: 0.25rem 9999rem;
  margin-top: 25px;
  margin-bottom: 50px;
  background-color: #00BC8C;
}

.search-input {
  margin: 10px;
  padding: 5px;
  border: solid 3px black;
}


.player-section {
  display: block;
  margin-left: 75px;
  margin-right: auto;
}

.box {
  display: block;
  overflow: auto;
  border-radius: 25px;
  border-style: solid;
  border-width: 7px;
  width: 175px;
  height: 250px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  float: left;
  background-color: #3D3D3D;
  box-shadow: 0 0 10px black;
  cursor: pointer;
}

.info-line-name {
  text-align: center;
  background-color: #00BC8C;
}

.info-line-team {
  text-align: center;
  font-size: 12;
  background-color: #00BC8C;
}

.info-line-pos {
  text-align: center;
  font-size: 10;
  color: black;
}

.top-of-box {
  display: block;
  overflow: auto;
  background-color: #00BC8C;
}

.images {
  display: block;
  overflow: auto;
  float: left;
}

.ratings {
  display: block;
  overflow: auto;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
  padding-right: 10px;
  border-radius: 10px;
  background: #3D3D3D;
}

.rating-line {
  text-align: center;
  font-size: 10;
  color: white;
}

.rating-line-total {
  text-align: center;
  font-size: 15;
  color: white;
}

.player-img {
  display: block;
  float: top;
  border-radius: 25px;
  width: 75px;
  height: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.logo-img {
  display: block;
  float: bottom;
  border-radius: 10px;
  width: 35px;
  height: 35px;
  margin-left: 30px;
  margin-bottom: 5px;
}
